@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-xl font-bold text-center my-3 text-gray-800 tracking-wide uppercase leading-tight;
}

a {
    @apply !text-[#00A];
}

hr {
    border-color: black;
    @apply m-4;
}

.chipopino-css-prefix  {
    --chipopino-card-bg: rgb(0, 0, 0) !important;
    --chipopino-blank-bg: #e3fbff !important;
    --chipopino-menu: lightskyblue !important;
    --chipopino-btn-bg: #007bff !important;
    --chipopino-btn-text: #ffffff !important;
    --chipopino-btn-hover-bg: #0056b3 !important;
    --chipopino-btn-selected-bg: #0366cf !important;
    --chipopino-btn-selected-hover-bg: #0366cf !important;
    --chipopino-swipe-icon-color: #6e6e6e !important;
    --chipopino-text-color: #ffffff !important;
    --chipopino-img-filter: grayscale(100%) invert(1) !important;
}

.slick-initialized .slick-slide {
    @apply w-[400px] h-[400px] !flex flex-col items-center justify-center;
}

.slick-initialized .slick-slide>* {
    @apply w-full;
}